body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 150px;
}

h1 {
    font-size: 40px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}